{% extends 'photos/base.html' %}

{% block content %}
    {% for pic in pics %}

        <div class="container text-center">
          <img src="{{ pic.img.url }}" class="img-thumbnail mt-3" width="500" height="500">
          
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            View Image Details
          </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3>Image name: {{ pic.img_name }}</h3>
                <small class="text-muted">Taken at: {{ pic.img_location }}</small>
                <small class="text-muted">Category of: {{ pic.img_category }}</small>
                <h5>Description</h5>
                <p>{{ pic.img_description }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock content %}